@model NeedPayModel
@inject CHIS.Code.Managers.IMyRazor myRazor
@{
}
<input type="hidden" asp-for="TreatId" />
<div class="ah-charge-details-wrap ah-flex ah-flex-column">
    <div class="ah-details-address ah-flex">
        <div class="ah-flex ah-flex-auto ah-align-center ah-max-width">
            <img class="ah-address-upic" src="@(myRazor.GetCustomerDefImagePath(Model.Customer.PhotoUrlDef,Model.Customer.Gender ))" />
            <div class="ah-flex-auto">
                <div class="ah-address-uname">@(Model.Customer.CustomerName) @(Model.Customer.Gender?.ToGenderString()) @(Model.Customer.Birthday?.ToAgeString())</div>
                <div>联系电话:@Model.Customer.CustomerMobile</div>
                <div ah-d-section="customer_address">
                    <input type="hidden" ah-d-name="AddressId" asp-for="SelectAddress.AddressId" />
                    收货地址:
                    <span class="ah-address-bg" ah-d-name="AddressDetails">
                        <span>@(Model.SelectAddress?.FullAddress) @Model.SelectAddress?.ZipCode</span>
                        <span>（@(Model.SelectAddress?.ContactName) 收）</span>
                        <span>@Model.SelectAddress?.Mobile</span>
                    </span>
                    <a style="color:#ff6a00;cursor:pointer;margin-left:8px;" onclick="CHARGE.ChangeAddress(this,@Model.Customer.CustomerID,@((Model.SelectAddress?.AddressId)??0),'pay');">修改</a>
                </div>
            </div>
        </div>
        <div class="ah-charge-swrap ah-flex">
            @if ((!Model.IsNeedMail) || (Model.IsNeedMail && Model.SelectAddress != null))
            {              
                
                <a onclick="PAYMENT.Payment(@(Model.TreatId),$('#bReorder'))">                  
                    <span>去支付:@(Model.TreatInfo.NeedPayAmount)</span>
                </a>
                <div class="ah-again-pay"><input type="checkbox" lay-skin="primary" title="重新下单" id="bReorder" />  </div>
            }
            else
            {
                <a onclick="CHARGE.ChangeAddress(this,@Model.Customer.CustomerID,@((Model.SelectAddress?.AddressId)??0),'pay');">选择收货地址后才能支付</a>
            }
        </div>
    </div>
    <div class="ah-charge-details-main ah-flex-auto">
        <table>
            <thead>
                <tr class="charge-table-title">
                    <th>品名</th>
                    <th>数量</th>
                    <th  class="ah-tr-right">单价</th>
                    <th class="ah-tr-right">小计</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pre in Model.FormedPrescriptions.Keys) { 
                    @foreach (var item in Model.FormedPrescriptions[pre])
                    {
                        <tr>
                            <td class="ah-td-left">
                                <b> @item.DrugName</b>
                                <span class="ah_sourcefrom_@item.SourceFrom"></span>                       
                            </td>
                            <td align="right">@item.Qty/@item.UnitName</td>
                            <td class="ah-tr-right">@item.Price</td>
                            <td class="ah-tr-right">@item.Amount</td>
                            <td onclick="CHARGE.getChargeDrugInfo(this)"><a>详情</a></td>
                        </tr>
                        <tr class="ah-hide" >
                            <td colspan="5">
                                <div>
                                    厂商: @item.Trademark @item.ManufacturerOrigin
                                </div>
                                <div>
                                    规格: @item.DrugModel
                                </div>
                            </td>
                        </tr>
                    }
                }
                @{ var n = 1;}
                 @foreach (var pre in Model.HerbPrescriptions.Keys)
                 {
                    <tr class="charge-table-text">
                        <td class="ah-td-left">
                            @if (pre.HerbTitle == null)
                            {  <i class="fa fa-leaf" style="color: #4db70e;"></i>
                                <span>中药处方@(n++)</span>
                            }
                            else
                            { 
                                @(pre.HerbTitle)
                            }
                        </td>
                        <td>@pre.Qty/付</td>
                        <td class="ah-tr-right">@pre.Price</td>
                        <td class="ah-tr-right">@pre.Amount</td>
                        <td onclick="CHARGE.getChargeDrugInfo(this)"><a>详情</a></td>
                    </tr>
                    <tr class="ah-hide">
                        <td colspan="5">
                            @foreach (var item2 in Model.HerbPrescriptions[pre])
                            {
                                <div>
                                    @item2.DrugName X @item2.Qty @item2.UnitName = @item2.Amount
                                </div>
                            }
                                
                        </td>
                    </tr>
                 }
                 @{ decimal em = 0m; }
                @foreach (var item in Model.ExtraFees)
                {
                    em += item.Amount;
                    <tr class="charge-table-text">
                        <td class="ah-td-left">@item.FeeName</td>
                        <td>@item.Qty</td>
                        <td class="ah-tr-right">@item.TreatFeePrice</td>
                        <td class="ah-tr-right">@item.Amount</td>
                        <td>/</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<script>
    if (top.layui.form) {
        $.updataAllLayui();
    } else {
        layui.use(['form'], function () {
            var form = layui.form; //执行一个form实例
        });
    }
</script>
