@model ah.Models.CustomerBaseInfo
@{

}
@section links{
    <style>
        @@media screen and (max-width:500px) {
            .ah-btn-div > .btn {
                width: 100%;
                margin-top: 10px;
            }

            .ah-public-main .col-md-12 {
                padding-right: 0px;
                padding-left: 0px;
            }

            .ah-btn-div {
                padding: 0;
                margin-left: 0;
            }
        }
    </style>
}
<!--导航栏-->
<div class="mune">
    <ol class="breadcrumb">
        <li><a href="/Customer">首页</a></li>
        <li><a href="/Customer/Home/ShowCustomerInfo">我的资料</a></li>
        <li class="active"><a href="/Customer/Home/ChangePassword">修改密码</a></li>
    </ol>
</div>
<div class="ah-public-main">
    <form class="form-horizontal" role="form" action="ChangePassword" method="post">
        @Html.HiddenFor(m => m.LoginId)
        <div class="form-group">
            <div class="col-md-6 center-block">
                <label class="form-label">用户：</label><span>@Model.CustomerName (@Model.Gender?.ToGenderString())</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 center-block">
                <label class="form-label">请输入原密码：</label>
                <input type="password" class="form-control" asp-for="OrigPwd" data-rule-required="true" data-msg-required="请输入原密码" placeholder="请输入原密码" />
                @Html.ValidationMessageFor(m => m.OrigPwd)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 center-block">
                <label class="form-label">设置新密码：</label>
                <input type="password" class="form-control" asp-for="NewPwd" data-rule-required="true" data-msg-required="请输入新密码" placeholder="请输入新密码"
                       data-rule-minlength="6" data-msg-minlength="请输入的密码长度要大于{0}位字符" />
                @Html.ValidationMessageFor(m => m.NewPwd)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 center-block">
                <label class="form-label">再次输入：</label>
                <input type="password" class="form-control" asp-for="NewPwdConfirm" data-rule-required="true" data-msg-required="请再次确认新密码" placeholder="请再次确认新密码"
                       data-rule-minlength="6" data-rule-equalto="#NewPwd" />
                @Html.ValidationMessageFor(m => m.NewPwdConfirm)
            </div>
        </div>
        @Html.ValidationSummary(true)
        <div class="ah-btn-div" style="height:auto;">
            <button type="submit" class="btn btn-primary ">确认修改</button>
        </div>
    </form>
</div>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>

    </script>
}
