@model ah.Models.ViewModel.WechatBindingModel
@{
    ViewData["Title"] = "注册会员";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutBase.cshtml";

    // var wx = ViewBag.WXCookie as ah.Models.ViewModel.WechatBindingModel;
}
@section links{
    <link href="~/lib/jquery-weui/jquery-weui.css" rel="stylesheet" />
    <link href="~/lib/jquery-weui/weui.min.css" rel="stylesheet" />
    <style>
        .bg {
            padding: 10px;
            font-size: 12px;
        }

            .bg > h4 {
                background: #ccc;
                padding: 6px;
                margin-top: 0;
            }

        .ah-app-readonly {
            border: none;
            background: transparent;
            font-weight: bold;
            font-size: 1.2em;
        }

        .ah-app-middle {
            text-align: center;
            position: relative;
            width: 100%;
        }

        img.upic {
            border-radius: 100px;
            width: 40%;
            margin: 9px;
        }

        .uname {
            font-size: 1.2em;
            font-weight: bold;
            color: #198e7c;
        }

        .gd {
            margin: 5px;
        }

        .ah-input-group {
            width: 100%;
            position: relative;
            margin-bottom: 9px;
        }

        .input-validation-error {
            border-color: #ee2222;
        }

        .field-validation-error {
            color: #ee2222;
        }

        .identify-code {
            margin-top: 15px;
            display: flex;
        }

        .form-control-feedback {
            line-height: 40px;
        }

        .icon_reset span {
            left: 0 !important;
        }

        .icon_reset input {
            padding-left: 34px;
            height: 40px !important;
        }

        .form-control {
            -webkit-appearance: none;
        }
    </style>
}

<div class="bg">
    <form method="post" asp-action="WechatRegister" asp-controller="Home" asp-area="Customer">
        <input type="hidden" asp-for="openid" />
        <div class="ah-app-middle">
            <img class="upic" src="@Model.WxPicUrl" />
            <input type="hidden" asp-for="WxPicUrl" />
        </div>
        <div class="ah-app-middle">
            <span class="uname">@Model.NickName @if (Model.Gender == 1)
            { <span class="uname">♂</span>}
            else
            {<span class="uname">♀</span>}</span>
            <input type="hidden" asp-for="NickName" />
        </div>
        <div class="ah-app-middle" style="display:none;">
            <label class="gd"> <input type="radio" asp-for="Gender" value="0" />&nbsp;女</label>
            <label class="gd"> <input type="radio" asp-for="Gender" value="1" />&nbsp;男</label>
            @Html.ValidationMessageFor(m => m.Gender)
        </div>
        <hr />

        <div class="ah-input-group icon_reset">
            <span class="glyphicon glyphicon-user form-control-feedback iconSpan"></span>
            <input type="text" class="form-control" asp-for="CustomerName" placeholder="您的真实姓名" data-rule-required="true" />
            @Html.ValidationMessageFor(m => m.CustomerName)
        </div>
        <div class="ah-input-group icon_reset">
            <span class="glyphicon glyphicon-phone form-control-feedback iconSpan"></span>
            <input type="text" class="form-control" placeholder="请输入本机手机号" data-rule-required="true" asp-for="mobile" />
            @Html.ValidationMessageFor(m => m.mobile)
        </div>
        <div class="ah-input-group">
            <label class="gd"> <input type="radio" asp-for="Gender" value="0" />&nbsp;女</label>
            <label class="gd"> <input type="radio" asp-for="Gender" value="1" />&nbsp;男</label>
            @Html.ValidationMessageFor(m => m.Gender)
        </div>
        <div class="ah-input-group">
            <label for="exampleInputEmail1">出生年月</label>
            <input type="text" class="form-control" id="time3" asp-for="Birthday"  placeholder="请输入出生年月" data-rule-required="true" />
            @Html.ValidationMessageFor(m => m.Birthday)
        </div>
        <div class="ah-input-group">
            @Html.ValidationSummary(true)
        </div>        
        <div class="ah-input-group" style="margin-top:20px;">
            <button type="submit" class="btn btn-primary" style="width:100%;">提交</button>
        </div>
    </form>

</div>



@section scripts{
    <script src="~/lib/jquery-weui/jquery-weui.js"></script>
    <script>
        $(function () {
            $("form").validate();

        });

        $("#time3").datetimePicker({
            times: function () {
                return [
                    {
                        values: ['', '']
                    }
                ];
            },
            value: '2000-06-12 ',
            onChange: function (picker, values, displayValues) {

            }
        });
    </script>
}
