@{
    ViewBag.Title = "找医生";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var u = this.GetUserSelf();
}
@inject CHIS.Code.Managers.IMyRazor myRazor
@inject CHIS.Services.DoctorService _dctrSvr

@section links{
    <style>
        .ah-main-content {
            padding: 0;
            background: none;
            border: none;
        }
    </style>
}
<div class="ah-flex ah-max-width ah-drugNurse-register-wrap">
    <div class="ah-drugNurse-register-main ah-flex-auto ah-flex">
        <div class="ah-public-title">
            <span>
                医生列表
            </span>
            <a onclick="detectDoctorStatus()">医生状态刷新</a>
        </div>
        <div class="ah-public-sec"><i class="fa fa-circle"></i> 处方医生</div>
        <div class="ah-drugNurse-register-items ah-flex">
            @await Html.PartialAsync("DrugStoreNurseRegister_pvRxDoctorList", (IEnumerable<DoctorSEntityV02>)ViewBag.RxDoctors)
        </div>
        <div class="ah-public-sec"><i class="fa fa-circle"></i> 本店医生/医助</div>
        <div class="ah-drugNurse-register-items ah-flex">
            @await Html.PartialAsync("DrugStoreNurseRegister_pvDoctorList", (IEnumerable<DoctorSEntityV01>)ViewBag.Doctors)
        </div>

    </div>
    <div class="ah-drugNurse-register-right">
        <div class="ah-public-title">
            快速约号
        </div>
        <div class="ah-doctorIndex-register-main">
            <input type="hidden" id="Customer_Id" />
            <div class="ah-flex register-data ah-hide ah-flex-wrap" ah-id="customer-more"></div>
            <div class="ah-flex register-data">
                <div class="title">手机</div>
                <div class="ah-flex-auto">
                    <input type="text" class="ah-data-input" placeholder="请输入手机【可输入后回车】" id="ah-register-phone" />
                    <button class="ah-btn-search" type="button" onclick="getCustomersBy();"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            <div class="ah-flex register-data">
                <div class="title">患者</div>
                <div class="ah-flex-auto"><input type="text" class="ah-data-input" id="Customer_Name" /></div>
            </div>
            <div class="ah-flex register-data">
                <div class="title">性别</div>
                <div class="ah-flex-auto">
                    <input name="sex" value="1" title="男" checked="" type="radio">
                    <input name="sex" value="0" title="女" type="radio">
                </div>
            </div>
            <div class="ah-flex register-data">
                <div class="title">出生日期</div>
                <div class="ah-flex-auto">
                    <div class="ah-flex-auto ah-flex ah-align-center">
                        <div class="ah-input-icondate ah-flex">
                            <input onchange="dateChangeRange(this)" type="text" id="Customer_Birthday" style="width: 93px;" placeholder="1988-08-08" />
                            <span class="dateicon" id="ah-doctorIndex-dateIcon"></span>
                        </div>
                        <span style="margin:0 10px;">岁</span>
                        <div class="ah-range-wrap">
                            <span class="ah-rangeAge-0">0</span>
                            <span class="ah-rangeAge-99">99</span>
                            <input min="0" max="99" oninput="setAgeDay('#Customer_Birthday',this)" type="range">
                            <i></i>
                        </div>
                    </div>
                </div>
            </div>
            @if (u.StationTypeId == CHIS.DictValues.StationType.k_StationType_DrugStore)
            {
                <div class="ah-flex register-data">
                    <div class="title">预约来源</div>
                    <div class="ah-flex-auto">
                        <input type="hidden" id="register-opId" value="@u.OpId" />
                        <input type="text" value="@u.DoctorName" class="ah-data-input" id="register_source" />
                        <div class="ah-register-source-wrap layui-anim">
                            <div class="ah-flex">
                                <input type="text" class="ah-data-input" ah-outInputId="register-opId" id="register_source_search" />
                                <button class="ah-btn-search" type="button" onclick="registerSource(pagedata.stationId)"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                            <dl></dl>
                        </div>

                    </div>
                </div>
            }
            <div class="ah-flex register-data">
                <div class="title">科室</div>
                <div class="ah-flex-auto">
                    @{
                        var departs = myRazor.GetDepartsOfStation(u.StationId);
                    }

                    @if (u.IsCanTreat)
                    {
                        <select role-initial="false" asp-items="departs" asp-for="@u.SelectedDepartmentId" id="DepartmentId"
                                class="ah-data-select" onchange="doctorItemLoad(this.value);">
                            <option value="">请选择</option>
                        </select>
                    }
                    else
                    {
                        <select role-initial="false" asp-items="departs" class="ah-data-select" id="DepartmentId" onchange="doctorItemLoad(this.value);">
                            <option value="">请选择</option>
                        </select>
                    }
                </div>
            </div>
            <div class="ah-flex register-data">
                <div class="title">助理医生</div>
                <div class="ah-flex-auto">
                    <select role-initial="false" class="ah-data-select" id="DoctorId" ah-select="DoctorIndexItems">
                        @if (u.IsCanTreat)
                        {
                            <option value="@u.DoctorId">@u.DoctorName</option>
                        }
                        else
                        {
                            <option value="">请选择助理医生</option>
                        }
                    </select>
                </div>
            </div>
            <div class="ah-flex register-data">
                <div class="title">处方医生</div>
                <div class="ah-flex-auto">
                    @{
                        var rxdoctoritems = _dctrSvr.GetMyRxDoctors(u.StationId).Select(m => new SelectListItem
                        {
                            Text = m.DoctorName + (m.IsRxDefault?"(默认)":""),
                            Value = m.DoctorId.ToString(),
                            Selected = m.IsRxDefault
                        });
                    }
                    <select role-initial="false" class="ah-data-select" id="RxDoctorId" name="RxDoctorId" asp-items="rxdoctoritems">                      
                            <option value="">请选择处方医生</option>                       
                    </select>
                </div>
            </div>
            <div class="ah-flex register-data" style="margin:20px 0 10px 0">
                <button class="ah-btn-white ah-flex-auto" style="height: 40px;" id="Reset">重置</button>
                <button class="ah-btn-blue ah-flex-auto" style="height: 40px;" id="fastPatient">约诊</button>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/pages/drug-store-register.js"></script>
    <script>
        var pagedata = {
            customerPicPath: '@(Global.ConfigSettings.CustomerImagePathRoot)',
            doctorPicPath: '@(Global.ConfigSettings.DoctorImagePathRoot)',
            stationId:@(u.StationId),
            stationName:'@u.StationName',
            ver: 1,
            doctorId: '@u.DoctorId',
            departId: '@u.SelectedDepartmentId',
            doctorStatusUrl:'@Global.AppInterface.DoctorAppOnlineStatusUrl'
        }


    </script>

}