@model ah.Models.ViewModel.PaginatedItemsViewModel<ah.Models.ViewModel.GiftOrderViewModel>
@{
    Layout = null;
}
@foreach (var item in Model.Rows)
{
    <div class="ah-flex-auto ah-flex ah-giftMain-list">
        <div class="ah-flex ah-flex-auto ah-giftMain-title2"  ah-id="@item.GiftOrderId">
            <div class="title">@item.GiftName</div>
            @if (item.DeadLine != null)
            {
                <div class="time">有效期：@item.DeadLine.Value.ToString("yyyy-MM-dd")</div>
            }
            else
            {
                <div class="time">下单时间：@item.CreatedTime.ToString("yyyy-MM-dd HH:mm:ss")</div>

            }

        </div>
        <div class="num app" style="text-align:center">
            @{
                var s = true;
                if (item.State == "已过期" || item.State == "已使用")
                {
                    s = false;
                }
            }
            <div class="ah-gift-active @(s?"":"no-active")" ah-state="@item.State" ah-id="@item.GiftOrderId" ah-customerId="@item.CustomerId">
                @item.State
            </div>
        </div>
    </div> 
}